@keyframes animacion {
  0% {
    background-position: 5% 0%; }
  25% {
    background-position: 35% 0%; }
  50% {
    background-position: 96% 0%; }
  100% {
    background-position: 5% 0%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  width: 100%;
  height: auto;
  background-color: #e38686; }

header {
  background: linear-gradient(90deg, #d9694d 35%, white 49%, #d9cb2e 83%);
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 0s;
  background-size: 500% 500%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  background-color: #d3c349; }

.contenedoraHeader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

nav {
  /*background: linear-gradient(90deg, rgba(217,105,77,1) 35%, rgba(255,255,255,1) 49%, rgb(223, 121, 54) 83%);
    animation-name: animacion;
	animation-iteration-count: infinite;
	animation-duration: 12s;
	animation-delay: 0s;
	background-size: 500% 500%;*/ }

.nombre {
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
  height: auto;
  color: #4e484a; }

.section {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  background-color: #ead591; }

#contenedor__carousel {
  width: 500px;
  height: auto;
  margin-top: 50px;
  margin-left: 600px; }

#contenedor__carousel:hover {
  border: solid 1.5px #d1ad35; }

a {
  text-decoration: none; }

.container {
  margin-top: 200px;
  gap: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "img1 img1 img2 img2 img3 img3 publicidad publicidad" "img4 img4 img5 img5 img6 img6 publicidad publicidad" "img7 img7 img8 img8 img9 img9 publicidad publicidad" "proximamente proximamente proximamente proximamente proximamente proximamente publicidad publicidad"; }

img {
  width: auto;
  height: auto; }

.img1 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  width: 100%;
  height: auto;
  grid-area: img1; }

.img1:hover {
  border: solid 2px #b95d5d; }

.img2 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img2; }

.img2:hover {
  border: solid 2px #b95d5d; }

.img3 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img3; }

.img3:hover {
  border: solid 2px #b95d5d; }

.img4 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img4; }

.img4:hover {
  border: solid 2px #b95d5d; }

.img5 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img5; }

.img5:hover {
  border: solid 2px #b95d5d; }

.img6 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img6; }

.img6:hover {
  border: solid 2px #b95d5d; }

.img7 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img7; }

.img7:hover {
  border: solid 2px #b95d5d; }

.img8 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img8; }

.img8:hover {
  border: solid 2px #b95d5d; }

.img9 {
  display: flex;
  justify-content: center;
  background-color: #ead591;
  grid-area: img9; }

.img9:hover {
  border: solid 2px #b95d5d; }

.publicidad {
  background-color: darkorange;
  grid-area: publicidad; }

.proximamente {
  display: flex;
  flex-direction: row;
  background-color: darkorange;
  grid-area: proximamente; }

.nacionales {
  width: 800px;
  height: 170px;
  padding: 10px;
  margin-left: 25px;
  background-color: #c06464; }

img {
  margin: 4px;
  border: solid 2px #b27474; }

.imagenNosotros {
  width: auto;
  height: auto;
  margin-top: 15px;
  margin-left: 400px;
  border-left: 4px solid #959728; }

.sectionNosotros {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px 0px 20px 0px; }

.section__nosotros--div {
  text-align: center; }

.section__galeria {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "video1" "video2" "footer"; }

#footer__galeria {
  margin-top: 600px; }

.video1 {
  grid-area: video1; }

.video2 {
  grid-area: video2; }

.footer {
  grid-area: footer; }

.section__footer {
  margin-top: 300px; }

.contenedorformulario {
  padding: 10px; }

.formularios {
  padding: 40px;
  gap: 20px; }

.mapa {
  width: 1200PX;
  margin-left: 200px; }

.submit {
  color: white;
  background-color: #851640; }

.submit:hover {
  color: black;
  background-color: #c42245; }

fieldset {
  padding: 5px;
  margin: 5px; }

input {
  background-color: #eedb5f; }

.multimedia {
  padding: 10px;
  width: 100%;
  height: 200px;
  background-color: #ba7575; }

iframe {
  padding: 10px;
  width: 100%; }

iframe:hover {
  border: 1.5px solid #ebdfdf; }

footer {
  display: flex;
  width: 100%;
  height: auto;
  color: #9c349a;
  background-color: #8d2666; }

.container__contacto--footer {
  padding: 20px;
  margin-top: 50px;
  width: auto;
  height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.container__redes {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto; }

.instagram {
  width: auto;
  height: auto;
  transform: scale(0.2); }

.instagram:hover {
  border: solid 2px #b31717; }

.facebook {
  width: auto;
  height: auto;
  transform: scale(0.2); }

.facebook:hover {
  border: solid 2px #0315b6; }

.whatsapp {
  width: auto;
  height: auto;
  transform: scale(0.2); }

.whatsapp:hover {
  border: solid 2px #009c0d; }
